<div class="jumbotron text-center">
    <h1>Welcome to Dev Match</h1>
    <h3>A membership site where enterpreters can meet developers.</h3>
</div>
<div class="row">
    <% if user_signed_in? %>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Tvoj Profil</h2>
                <% if current_user.profile %>
                    <%= link_to "Edit your profile", edit_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
                    <%= link_to "View your profile", user_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
                <% else %>
                    <p>Napravi si profil da možeš dijelit sa drugima informacije</p>
                    <%= link_to "Create your profile!", new_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block' if current_user %>
                <% end %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Komjuniti</h2>
                <p>Posjeti komjuniti da se upoznaš sa ljudima</p>
                <%= link_to "Visit the community", users_path, class: 'btn btn-default btn-lg btn-block' %>
            </div>
        </div>
    <% else %>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2>
            <h4>Sing up for free za osnovne privilegije u komjunitiju</h4>
            <br/>
            <%= link_to "Sign up free", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4>Sign up for premium akaunt za 10$ mjesečno i imaš sve privilegije</h4>
            <%= link_to "Sign up Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
    <% end %>
</div>